@model Ticketist.Models.Project
@{
    ViewBag.Title = "Details";
}


@Html.ActionLink("Edit Project", "Edit", "Projects", new { id = Model.Id }, new { @class = "btn btn-warning" })

<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Name</h2>
            <h3 class="text-center">@Model.Name</h3>
        </div>
        <br />
        <div class="intro">
            <h3 class="name">Description</h3>
            <p class="description">@Model.Description</p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item">
                <h3 class="name">Start Date</h3>
                <h4 class="badge description">@Model.StartDate.ToString("dd/MM/yyyy")</h4>
            </div>
        </div>
    </div>
</div>