@{
    ViewBag.Title = "Home Page";
}

<div class="projects-horizontal">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Hello</h2>
            <p class="text-center">Welcome to <b>Ticketist</b>! If you do not have an account please contact your administrator or Organization Manager.</p>
        </div>
    </div>
</div>