@{
    ViewBag.Title = "Home Page";
}

<div class="projects-horizontal">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Hello</h2>
            <p class="text-center">Welcome to <b>Ticketist</b>, below is some information about you and your work place</p>
        </div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col">
                        <h3 class="name">Organization</h3>
                        <p class="description">Description of organization</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col">
                        <h3 class="name">Project</h3>
                        <p class="description">Description of project</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col">
                        <h3 class="name">Team</h3>
                        <p class="description">Description of team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>