@model Ticketist.Models.Team
@{
    ViewBag.Title = "Details";
}


@Html.ActionLink("Edit Team", "Edit", "Teams", new { id = Model.Id }, new { @class = "btn btn-warning" })

<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Name</h2>
            <h3 class="text-center">@Model.Name</h3>
        </div>
        <br />
        <div class="intro">
            <h3 class="name">Code</h3>
            <p class="badge description">@Model.Code</p>
        </div>
    </div>
</div>