@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-center navbar-right ">
        <span class="navbar-text actions" data-bs-hover-animate="jello">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color: var(--dark);" })
            </span>
        <span class="navbar-text actions">
            <a class="badge action-button" role="button" data-bs-hover-animate="swing" style="background: #56c6c6;" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </span>
    </div>
    }
}
else
{
    <div class="d-flex justify-content-center navbar-right navbar-text">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "badge action-button", @role = "button", @style = "background: #56c6c6;" })
    </div>
}