@model Ticketist.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search Organization</h2>

@using (Html.BeginForm("SearchThis", "Organizations"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SearchString)
        @Html.TextBoxFor(m => m.SearchString, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SearchString)
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}